<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      <div class="row ">
        <div class="col-9">
          <ion-title><b>Book List</b></ion-title>
        </div>
        <div class="col-3" >
          <img *ngIf="loginisactive" width="40%" (click)="logoutuser()" style="margin-left: 20px;" src="assets/icon/poweroff.svg">
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="loginisactive">
    <ion-col size="11" offset="0.5">
      <div *ngIf="isLoading" class="loader-wrapper">
  <div class="spinner"></div>
</div>
      <div class="row" *ngIf="!isLoading">
        <div class="col">
                      <ion-searchbar  [(ngModel)]="searchText" (ionChange)="onClickSearch()" placeholder="Search here...."    (ionClear)="clearSearch()" ></ion-searchbar>

        </div>
      </div>
<div class="row" *ngIf="!isLoading" >
  <div class="col-12"  *ngFor="let book of booksdetailsList">
    <ion-card  (click)="openbookdetails(book)" style="background-color: #fff; border-radius: 10px;">
      <div class="row">
        <div class="col">
          <div class="imagediv">
          <img  height="20%"  width="100%" src="assets/icon/noimageav.jpeg">
          </div>
        </div>
      </div>
      <div class="row p-1">
        <div class="col-5">
          <ion-title class="title">Tittle :</ion-title>
       
        </div>
          <div class="col-7">
          <ion-text class="titledata">{{book.title}}</ion-text>
       
        </div>
      </div>
       <div class="row p-1">
        <div class="col-5">
          <ion-title class="title">Author :</ion-title>
       
        </div>
          <div class="col-7">
          <ion-text class="titledata">{{book.author}}</ion-text>
       
        </div>
      </div>
       <div class="row p-1">
       
          <div class="col">
         
           <p class="titledata p-2"> {{book.shortDescription}}</p>
       
        </div>
      </div>
      
      
    </ion-card>
  </div>
</div>

    </ion-col>
    </ion-row>
       <ion-row *ngIf="!loginisactive">
        <ion-col size="11" offset="0.5">
          <h3 style="text-align: center;">Sorry ! You are LogOut..please Login</h3>
        </ion-col>
        </ion-row>
</ion-content>
