.titledatas{
    color: black;
    font-size: x-large;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
}
.imagediv{
  border:2px solid black;
  margin:10px;
}

.title{
  color: black;
  font-size: medium;
//    font-weight: 600;
}
.titledata{
  color:black;
  font-size: larger;
  font-weight: 800;
  padding-left: 20px;
  // font-family: 'Courier New', Courier, monospace;
}
.backbutton{
    background-color: #ffc409;
    color: white;
    font-size: medium;
    border-radius: 5px;
}